@font-face {
    font-family: "jf open 粉圓 1.1";
    src: url('../css/jf-openhuninn-1.1.ttf');
}
body{
    font-family: "jf open 粉圓 1.1";
}
/* 整體內容區 */
.main{
    margin-top: 50px;
    margin-bottom: 50px;
    border:1px solid #F24041;

}
/* 基本資料標題 */
.dataBasic{
    font-size: 50px;
    color:#F24041;
}
.mry-25{
    margin-top: 25px;
    margin-bottom: 25px;
}
.mry-50{
    margin-top: 50px;
    margin-bottom: 50px;
}
.mrx-25{
    margin-left: 25px;
    margin-right: 25px;
}
.mrx-50{
    margin-left: 50px;
    margin-right: 50px;
}
/* 右側基本資料hr tag */
.hrTagRight{
    height: 3px;
    background-color: #F24041;
    margin-top: 0px;
}

/* 右側帳號資訊區域外層div*/

/* 左側資訊欄外層div */
.leftBar{
    background-color: #F24041;
}

/* 右側資料區 外層 */
.dataArea{
    width: 730px;
    height: 620px;
    border: 2px solid  #F24041;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 160px 567px;
}
/* 資料title */
.dataTitle{
    width: 160px;
    border-right: 1px solid #F24041;
    
}
/* 資料內容外層div */
.dataContent{
    width: 568px;
}
/* 資料內容前三列title區 */
.userName ,.userPassword,.nickName{
    height: 100px;
    border-bottom: 1px solid  #F24041;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
            
}
/*  資料內容前三列content區 */
.userNameContent,.userPwdContent,.nickNameContent{
    height: 100px;
    border-bottom: 1px solid  #F24041;
    font-size: 30px;

    padding-left: 25px;
    padding-right: 25px;

    
}

