@font-face {
    font-family: "Huninn";
    src: url('../css/jf-openhuninn-1.1.ttf');
}

body {
    font-family: "Huninn";
}

/* 整體內容區 */
.main {
    margin-top: 50px;
    margin-bottom: 50px;
    border: 2px solid #F24041;
    /* border-left: none; */
    background-color: #f2f0eb;

}

.mry-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.mrx-10 {
    margin-left: 10px;
    margin-right: 10px;
}

.mry-25 {
    margin-top: 25px;
    margin-bottom: 25px;
}

.mry-50 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.mrx-25 {
    margin-left: 25px;
    margin-right: 25px;
}

.mrx-50 {
    margin-left: 50px;
    margin-right: 50px;
}


/* 左側資訊欄外層div */
.leftBar {
    height: 823px;
    background-color: #F24041;
    border-right: 2px solid #F24041;
    ;
}


/* 圖片區域大小 */
.picArea {
    width: 165px;
    height: 165px;
    /* border-radius: 100%; */

}

/* 大頭貼 */
.memberImg {
    width: 165px;
    height: 165px;
    border: 2px solid #f2f0eb;
    border-radius: 100%;
}

/* 上傳大頭貼按鈕 */
.btnPic {
    width: 90px;
    height: 25px;
    font-size: 15px;
    background-color: #f2f0eb;
    color: #F24041;
    display: flex;
    align-items: center;
    justify-content: center;
}
      /* 按紐設定 */
      .btnDowuiki {
        width: 90px;
        height: 25px;
        background-color: #F24041;
        color: #f2f0eb;
        font-size: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        float: right;
        /* margin-top: 10px; */
    }
/* 左側hr標籤 */
.hrTagLeft {
    width: 235px;
    height: 2px;
    background-color: #f2f0eb;
    margin-top: 0px;
}




/* 左邊選單列icon */
.leftBarIcon {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

/* 左邊功能選單文字 */
.fs-20 {
    font-size: 25px;
    color: #151515;
    text-decoration: none;
}

/* 左邊功能當前選單圖、文字垂直置中 */
.verticle_center {
    line-height: 3px;
    vertical-align: middle;
    margin: 5px;
}

/* 左邊功能當前選單樣式 */
.btn-leftItem-main {
    color: #fff;
    background-color: #f2955e;
    border-color: #f2955e;
}

/* 左邊功能當前選單文字 */
.fs-20-main {
    font-size: 25px;
    color: #f2f0eb;
    text-decoration: none;
}

/* 左邊功能選單樣式 */
.btn-leftItem {
    color: #fff;
    background-color: #f2f0eb;
    border-color: #f2f0eb;
}

/* 左邊功能選單hover效果 */
.btn-leftItem:hover {
    color: #fff;
    background-color: #f2955e;
    border-color: #f2955e;
}

/* 左邊功能選單點擊效果 */
.btn-leftItem:focus,
.btn-leftItem.focus {
    color: #fff;
    background-color: #f2955e;
    border-color: #f2955e;
    box-shadow: 0 0 0 0.2rem rgba(242, 64, 65, 0.5);
}


/* 資料內容區 */
.dataContent {
    width: 100%;
    height: 100%;
    border: 2px solid #F24041;
    margin-bottom: 25px;
    position: relative;
}

/* 行程資料的icon */
.rightIcon {
    width: 20px;
    height: 20px;
}

/* 資料內容字體大小文字溢出處理 */
.scheTitle {
    font-size: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}

/* 查看收藏按鈕位置 */
.btnPosition {
    position: absolute;
    bottom: 15px;
    right: 20px;
}

/* 文字溢出處裡 */
.textOver {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* 刪除景點收藏dialog */
#deleLocation {
    width: 350px;
    height: 205px;
    border-radius: 5px;
    box-shadow: 0px 5px 11px 3px rgba(0, 0, 0, 0.45);
    position: relative;
    background-color: #f2f0eb;
}

/* 刪除景點收藏dialog右上角x */
.cancelIcon {
    width: 10px;
    height: 10px;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;

}

/* 右邊資料列的x */
.deleteIcon {
    cursor: pointer;
}

/* dialog header */
#modalHead {
    border-radius: 5px 5px 0 0;
    height: 30px;
    background-color: #F24041;
}

/* dialog OK按鈕 */
.btnOk {
    width: 56px;
    height: 20px;
    font-size: 12px;
    background-color: #F24041;
    color: #f2f0eb;
    line-height: 10px;
}

/* dialog 取消按鈕 */
.btnCancel {
    width: 56px;
    height: 20px;
    font-size: 12px;
    color: #f2f0eb;
    background-color: #151515;
    line-height: 10px;

}

/* dialog footer */
#modalFooter {
    text-align: center;
}

.isDeleteLocation {
    margin: 25px 0px 25px 0px;
}

.isDeleteLocation>p {
    font-size: 24px;
}